
#------------------------------------------
# BACKEND-OMNIBUS
#------------------------------------------
LISTEN_ADDR=:4989

JWT_SECRET=change-me
PASSWORD_RESET_JWT_SECRET=change-me-too

#------------------------------------------
# DATABASE CONFIG
#------------------------------------------
DB_URL=host=localhost 
DB_USER=postgres
DB_PASSWORD=changeme
DB_NAME=omnibus-terminal
DB_PORT=5432 
DB_SSLMODE=disable



#------------------------------------------
# FRONTEND
#------------------------------------------
FRONT_END_BASE_LINK=http://localhost:4200/
MAIL_SITE_NAME=Omnibus

#------------------------------------------
# BACKEND TERMINAL
#------------------------------------------
EXTERN_TERMINAL_UPSTREAM_URL=http://localhost:4990

#------------------------------------------
# MICROSERVICES REALTIME
#------------------------------------------
REALTIME_URL=http://localhost:4988/realtime
REALTIME_API_KEY=your-realtime-api-key

#------------------------------------------
# CAMERA NOTIFICATIONS API KEY
#------------------------------------------
CAMERA_NOTIFICATION_API_KEY=your-camera-api-key

#------------------------------------------
# MICROSERVICES OCR
#------------------------------------------
OCR_URL=http://localhost:8000
OCR_API_KEY=your-ocr-api-key

#------------------------------------------
# SMTP
#------------------------------------------
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@example.com
SMTP_PASSWORD=your-smtp-password
SMTP_FROM=your-email@example.com
